.chart-box {
  height: 200px;
}

.temperature {
  display: flex;
  justify-content: space-between;

  .temperature-current {
    display: flex;

    img {
      margin-left: 2rem;
    }

    .temperature-icon {
      display: flex;
      align-items: center;

      .modal-heading {
        margin-left: 0.7rem;
      }
    }
  }

  .temperature-levels {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.geo {
  .geo-wrapper {
    padding: 8px 32px;
    margin: 0 auto;

    .geo-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0 16px;

      .geo-cell {
        flex-direction: column;
        margin: 0px auto 16px;

        .cell-info {
          width: 180px;
          height: 40px;
          background-color: var(--primary-background-color);
          border: 1px solid var(--brand-selected-color);
          border-color: var(--ui-border-color);
          border-radius: var(--border-radius-small);
          padding: 9px 0px 0px 9px;

          display: flex;
          align-items: center;
        }
      }
    }
  }
}
