.loading-box {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .wrapper {
    margin: 20px;
  }
}

.result-box {
  padding: 0;
  margin: 22px;
}
